<header class="header">
    <h1 class="titulo">Gestión de Cursos</h1>

    <nav class="navegacion">
        <a class="navegacion-enlace" href="#inicio">Inicio</a>
        <a class="navegacion-enlace" href="#listadocursos">Cursos</a>
        <a class="navegacion-enlace" href="#crearcurso">Agregar Curso</a>
        <a class="navegacion-enlace" href="#contacto">Contacto</a>
    </nav>

    <img class="logo-ups" src="assets/img/ups.png" alt="Logo UPS">


</header>

<div class="separador"></div>

<section class="header-bajo">
    <div class="descripcion">
        <div>
            <h2>Gestiona tus cursos</h2>
            <h3 class="subtitulo">Contenido</h3>
            <p>Esta página web está diseñada para facilitar la gestión eficiente de cursos académicos.</p>
            <p>La página cuenta con una barra de navegación intuitiva que permite acceder fácilmente a diferentes secciones principales: Inicio, Cursos, Agregar Curso y Contacto.</p>
            <p>La sección principal destaca la gestión de cursos, mostrando una lista ordenada de cursos activos. </p>
            <p>La página incorpora un formulario de registro de cursos, donde usuarios pueden ingresar nuevos cursos con detalle. Este formulario cuenta con validaciones en tiempo real para que los cursos sean ingresados correctamente.</p>
            <p>La página ha sido realizada por Diego Felipe Peralta Peralta, estudiante de quinto ciclo de la carrera de computación en la materia de Programación y plataformas web. Se puede encontrar los enlaces de comunicación en la sección de contacto.</p>
        </div>

        <img class="img-cursos" src="assets/img/books.png" alt="Imagen libros">
    </div>

    <a class="boton boton-crear-curso" href="#crearcurso">Crear Curso</a>

    
</section>  