
/* Header */  

.titulo{
    span{
        font-family: "Londrina Sketch", sans-serif;
        font-weight:900;
        font-style: normal;
    }
  }
  

.superior{
    margin-top: 3rem;
}

.logo-ups {
    animation: slideInLogo 0.5s ease-in-out forwards;
}

.logo-ups {
    max-width: 60%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    margin: 1rem;
}

.header {
    animation: fadeInHeader 0.5s ease-in-out forwards;
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

@media (min-width: 880px) {
    .header{
        flex-direction: row;
        justify-content:space-around;
    }

    .navegacion{
        flex-direction: row;
        gap: 1.5rem;
    }
}

.navegacion-enlace {
    font-weight: bold;
    color: var(--negro);
    text-decoration: none;
    transition: all 0.3s ease;
}

.navegacion-enlace:hover {
    font-size: 18px;
    border-bottom: 0.1rem solid var(--secundario);
}

.separador {
    margin-top: 2rem;
    border-bottom: 0.15rem solid var(--oscuro);
    width: 90%;
    margin: 0 auto;
}
