<div class="contenedor">
    <header class="header">
      <a href=""></a>
      <a routerLink="/inicio" class="titulo"><h1>Gestión de Cursos</h1></a>
      
        <nav class="navegacion">
          <a routerLink="/inicio" class="navegacion-enlace">Inicio</a>
          <a routerLink="/listadocursos" class="navegacion-enlace">Cursos</a>
          <a routerLink="/crearcurso" class="navegacion-enlace">Agregar Curso</a>
          <a routerLink="/contacto" class="navegacion-enlace">Contacto</a>
          <a routerLink="/apis" class="navegacion-enlace">APIs</a>
        </nav>
      
        <img class="logo-ups" src="assets/img/ups.png" alt="Logo UPS">
      </header>
      
      <div class="separador"></div>
      
</div>