<section id="contacto" class="contenedor contacto">
    <h2>Contacto</h2>
    <div class="informacion-contacto">
        <p><strong>Dirección: </strong>Universidad Politécnica Salesiana, Cuenca, Ecuador</p>
        <p><strong>Teléfono: </strong>+593 93 901 9136</p>
        <p><strong>Email: </strong>dperaltap2&#64;est.ups.edu.ec</p>
        <p><strong>Github: </strong> <a href="https://github.com/FepDev25">FepDev25</a></p>
        <p><strong>Repositorio del proyecto: </strong> <a href="https://github.com/FepDev25/web-cursos-fperalta-angular">web-cursos-fperalta-angular</a></p>
    </div>
    
</section>

